.SidebarBottom {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.1);

    .SidebarBottom-Items {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
        overflow: hidden;

        .SidebarBottomItem {
            margin: 0 10px;
        }
    }
}
