@import '../../styles/sizes';

.LoginPage {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  background-image: url('../../assets/images/login-background.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  .LoginPage-Left {
    flex: 0 0 $login-page-left-width;
    height: 100%;
    background-color: rgba($color: rgb(56, 19, 56), $alpha: .5);
    backdrop-filter: blur(5px);
    padding: $base * 2;
    display: flex;
    flex-direction: column;
    padding: 180px 20px 50px;

    .LoginPage-Left__Welcome {
      font-size: 24px;
      font-weight: bold;
    }

    .LoginPage-Left__Inputs {
      padding: ($base * 5) 0;
      width: 90%;

      .Dialog {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.EmailAddress-Dialog {
          .TextInput {
            width: 100%;
          }
    
          .Button {
            margin: ($base * 1) 0;
            width: calc(100% - 8px);
          }
        }
      }

      
    }
  }

  .LoginPage-Right {
    flex: 1;
    height: 100%;
  }
}