.VoiceChat {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    user-select: none;

    i {
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
}
