@import "../../../styles/colors";

.SidebarTop {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px -5px $color-primary;
  
  .Logo {
    margin-right: 10px;
  }
  .AnimatedLogoText {
    margin-left: 10px;
  }
}
