@import '~normalize.scss/normalize.scss';
@import '~font-awesome/css/font-awesome.css';
@import './assets/fonts/maticon.css';
@import './assets/fonts/orbitron.css';
@import '~react-spinner/react-spinner.css';
@import './styles/colors';

:root {
  --color-primary: 156, 137, 184;
  --color-primary-dark: 114, 76, 172;
  --color-secondary: 239, 195, 230;
  --color-secondary-light: 240, 230, 239;
  --color-secondary-dark: 240, 166, 202;
  --color-tertiary: #B8BEDD;
  --color-text: #222;
  --color-text-light: 240, 240, 240;
  --color-header: #222;
  --color-sub: #555;
  
  --color-orange: #ff6600;
  --color-danger: #e42f2f;
  --color-success: #34d434;
  --color-warn: #fdfa37;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}