@import "../../styles//colors";

.HomePage {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: row;

  .Sidebar {
    flex: 0 0 200px;
    height: 100%;
  }

  .HomePage-Right {
    flex: 1;
    height: 100%;
    background-color: green;
  }
}
