.AudienceListItem {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;

    .AudienceListItem-Avatar {
        width: 36px;
        height: 36px;
        background-size: contain;
        border-radius: 50%;
        background-color: rgba(#fff, .8);
    };

    .AudienceListItem-Title {
        flex: 1;
        margin-left: 15px;
        color: rgba(var(--color-text-light), .9);
        font-size: .9rem;
    }
}
  