@import '../../../../styles/sizes';
.ChatItem {
    margin: 10px 0;
    display: flex;
    width: 100%;
    align-items: center;

    .ChartItem__avatar {
        width: 30px;
        height: 30px;
        background-size: contain;
        border-radius: 50%;
        background-image: radial-gradient(rgba(#fff, .8) 40%, transparent);
        margin-right: 8px;
    }

    .ChartItem__baloon {
        max-width: 60%;
        padding: 10px 10px;
        color: #f0f0f0;
    }

    &.right {
        justify-content: flex-end;
        .ChartItem__baloon {
            background-color: #9ba4b4;
            border-radius: $radius $radius 0 $radius;
        }
    }

    &.left {
        justify-content: flex-start;
        .ChartItem__baloon {
            background-color: #595b83;
            border-radius: 0 $radius $radius $radius;
        }
    }
}