@import '../../styles/sizes';
@import '../../styles/responsive';
@import '../../styles/colors';
$or_start_color: rgba(255, 255, 255, .2);
$or_end_color: rgba(255, 255, 255, .3);
.LoginPage {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  background-image: url('../../assets/images/login-background.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  .LoginPage-Left {
    height: 100%;
    background-color: rgba($color: rgb(56, 19, 56), $alpha: .5);
    backdrop-filter: blur(5px);
    padding: $base * 2;
    display: flex;
    flex-direction: column;
    padding: 180px 20px 50px;
    transition: all .2s ease-in;

    .LoginPage-Left__Welcome {
      font-size: 24px;
      font-weight: bold;
    }

    .LoginPage-Left__Inputs {
      padding: ($base * 5) 0;
      width: 90%;

      .Dialog {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .TextInput {
          width: 100%;
        }
  
        .Button {
          margin: ($base * 1) 0;
          width: calc(100% - 8px);
        }
      }

      .Login-Spinner {
        margin-top: 40px;
      }

      .Login-Error {
        align-self: flex-start;
        padding-left: 5px;
        margin-top: 20px;
        color: var(--color-danger);
        font-weight: 600;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        transform: translateX(-120%);
        transition: all 300ms;
        &::before {
          content: '*';
          margin-right: 5px;
        }

        &.error {
          transform: translateX(0);
        }
      }

      .Login-OAuth {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Login-OAuth__Or {
          color: var(--color-text-light);
          margin-bottom: 20px;
          position: relative;

          &::after, &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: 130px;
            height: 2px;         
          }
          &::after {
            left: calc(100% + 10px);
            background: linear-gradient(90deg, $or_start_color, $or_end_color);
          }
          &::before {
            right: calc(100% + 10px);
            background: linear-gradient(90deg, $or_end_color, $or_start_color);
          }
        }
      }

      .VerificationCode-Input {
        display: flex;
        width: calc(100% - 2px);
        
        label {
          width: 30px;
          align-self: flex-end;
          margin: 0 0 10px 10px;
          font-size: 1.2rem;
          color: var(--color-secondary);
          text-shadow: 0 2px 6px var(--color-secondary-light);
          &.danger {
            color: var(--color-danger);
            text-shadow: none;
          }
          &.redo {
            cursor: pointer;
            text-shadow: none;
            color: var(--color-tertiary);
            &.2 {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  .LoginPage-Right {
    flex: 1;
    height: 100%;
    position: relative;

    #heart {
      position: absolute;
      bottom: 29%;
      right: 34%;
    }
  }

  @include desktop {
    .LoginPage-Left {
      flex: 0 0 40%;
    }
  }

  @include tablet-mobile {
    .LoginPage-Left {
      flex: 0 0 100%;
      align-items: center;
    }
  }
}