@import "../../styles/colors";

.Sidebar {
  background: linear-gradient(180deg, #fff, $color-primary);
  display: flex;
  flex-direction: column;

  .SidebarTop {
    width: 100%;
    flex: 0 0 80px;
  }

  .SidebarContent {
    flex: 1;
  }
}
