.SidebarBottomItem {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        transition: transform 200ms;
    }

    i {
        font-size: 32px;
        color: rgba($color: var(--color-primary-dark), $alpha: 1)
    }

}